.App{
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 0;
  
}
.head{
  background:rgb(40, 126, 167);
  color: white;
  font-size: smaller;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 2px 20px 2px;
}
.body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body4{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.body2{
  width: 30%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 145);
}
.body3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table1 {
  border-collapse: collapse;

  width: 80%;
  font-weight: 600;
}
.table2{
  border-collapse: collapse;
  width: 55%;
  font-weight: 600;
  background-color: rgb(245, 245, 145);
  
}
.table3{
  border-collapse: collapse;
  width: 35%;
  font-weight: 600;
  
}
.table3 td{
  padding: 10px 12px;
}
.table2 td {
  text-align: center;
}

/* Styling for table headers */
.table1 th {
  background-color: rgb(40, 126, 167);
  color: white;
  font-weight: 300;
  padding: 5px 10px;

  border: 1px solid #000000;
}
.table2 th {
  padding: 5px 10px;
  border-bottom: 1px solid #000000;
 
}
.risk{
  border-right: 1px solid #000000;
}
.table2 tr td:first-child {
  border-right: 1px solid #000000;
}

.table1 td {
  padding: 5px 10px;
  border: 1px solid #000000;
}
.table1 tr td:first-child {
  background-color: rgb(245, 245, 145);
}
.table1 tr td:nth-child(3) {
  background-color: rgb(32, 35, 230);
  color: white;
}
.table1 tr td:nth-child(7) {
  background-color: rgb(32, 35, 230);
  color: white;
}
#last{
  background-color: rgb(40, 126, 167);
  color: white;
}
#total {
  background-color: rgb(40, 126, 167);
  color: white;
}
#percent{
  background-color: rgb(40, 126, 167);
  color: white;
}
#some{
  background-color: white;
  color: black;
}
.line-container {
  position: relative;
  text-align: center;
  margin: 20px 0; /* Adjust as needed */
}

.horizontal-line {
  border: none;
  border-top: 2px solid rgb(102, 183, 230); /* Change the color, thickness, or style as needed */
  width: 100%;
}

.line-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Adjust as needed */
  padding: 0 10px;
  font-weight: 600;
}
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
  
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}
.page-break {
  page-break-before: always;
}

